/* Bottom left page loading status or url preview */
#statuspanel { display: none !important; }

/* ------------------ DEBLOAT NAVBAR ------------------- */

#back-button { display: none; }
#forward-button { display: none; }
#reload-button { display: none; }
#stop-button { display: none; }
#home-button { display: none; }
/* #downloads-button { display: none; } */
#library-button { display: none; }
#fxa-toolbar-menu-button { display: none; }

/* Empty space before and after the url bar */
#customizableui-special-spring1,
#customizableui-special-spring2 { display: none; }

#nav-bar,
#navigator-toolbox {
	border-width: 0 !important;
	--toolbar-field-focus-border-color: #d3869b;
}

/* ------------------ END DEBLOAT NAVBAR ------------------ */

/* --------------------- STYLE URLBAR --------------------- */

#urlbar-container {
	--urlbar-container-height: var(--tab-min-height) !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: -1pt !important;
	padding-bottom: -1pt !important;
	font-family: 'JetBrains Mono NL', 'Consolas', monospace;
	font-size: 12pt;
}

#urlbar {
	--urlbar-height: var(--tab-min-height) !important;
	--urlbar-toolbar-height: var(--tab-min-height) !important;
	min-height: var(--tab-min-height) !important;
	border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25)) !important;
	--autocomplete-popup-highlight-background: transparent !important;
}

#urlbar-background {
	border-width: 0 !important;
	border-radius: 0 !important;
}

#urlbar-input-container {
	border-width: 0 !important;
/*
	margin-left: 1em !important;
*/
}

#urlbar-input {
	margin-left: 0.4em !important;
	margin-right: 0.4em !important;
}

.urlbarView-row {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: var(--urlbar-height) !important;
}

.urlbarView-row-inner {
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
	height: var(--urlbar-height) !important;
}

.urlbarView-favicon {
	height: 1em !important;
	width: 1em !important;
	margin-bottom: 0.2em !important;
}

/* --------------- END STYLE URLBAR ----------------- */

/* ---------------- DEBLOAT URLBAR ------------------ */

/* Removing star-button will remove the invisible box at the end of urlbar but
 * also will disable the Ctrl+D shortcut */
#pocket-button { display: none; }
#urlbar-zoom-button { display: none; }
/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button { display: none; }
/* remove container indicator from urlbar */
#userContext-label, #userContext-indicator { display: none !important;}

/*
#tracking-protection-icon-container { display: none !important; }
#identity-box { display: none; }
#pageActionButton { display: none; }
#reader-mode-button{ display: none !important; }
#star-button-box { display: none; }
*/


/* ------------- END DEBLOAT URLBAR ----------------- */

/* ------------- STYLE TAB TOOLBAR ------------------ */

#titlebar {
	/* set minimum tab height  */
	--tab-min-height: 16pt !important;
	--proton-tab-block-margin: 0pt !important;
	--tab-block-margin: 0 !important;
}

:root {
	/* fix for full screen mode */
	--tab-toolbar-navbar-overlap: 0pt !important;
}

:root:not([customizing]) #TabsToolbar{
	background-color: #1d2021;
}

:root:not([customizing]) #navigator-toolbox {
	background-color: #1d2021 !important;
}

#TabsToolbar, .tabbrowser-tab {
	max-height: var(--tab-min-height) !important;
	font-size: 9pt !important;
}

/* Change color of normal tabs */
tab:not([selected="true"]) {
	font-family: 'JetBrains Mono NL', monospace;
	background-color: #1d2021 !important;
	font-weight: normal;
	color: var(--identity-icon-color, #ebdbb2) !important;
}

tab {
	font-family: 'JetBrains Mono NL', monospace;
	font-weight: bold;
	border: none !important;
	/* set tab text color to container color */
	color: var(--identity-icon-color, #1d2021) !important;
}

#tabbrowser-tabs .tab-text{
	/* font-size: 11pt !important; */
}

.tab-text.tab-label{
	font-size: 12pt;
}

/* safari style tab width */
.tabbrowser-tab[fadein] { max-width: 100vw !important; border: none }

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none !important; }

/* hide container line on tab*/
#tabbrowser-tabs .tab-context-line { display: none }

/* disable favicons in tab */
.tab-icon-stack { display: none !important; }

/* remove border between tabs */
.tabbrowser-tab { padding-inline: 0pt !important; }

/* remove min-height from tabs toolbar (needed for fullscreen one tab) */
#TabsToolbar,
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox { min-height: 0 !important; }

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
	background: #83a598 !important;
	border: none !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
	background: #83a598 !important;
}

/* remove white margin around active tabs */
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after { border: none !important; }

/*AGENT_SHEET*/
/*#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) { background: #cc241d !important; }*/
#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) { background: #928374 !important; }

/* hide window controls */
.titlebar-buttonbox-container { display: none; }

/* remove titlebar spacers */
.titlebar-spacer { display: none !important; }

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* ----------------- END STYLE TAB TOOLBAR ----------------- */

/* -------------------- AUTOHIDE URLBAR -------------------- */

/* hide urlbar unless focused */
#nav-bar {
	min-height: 0 !important;
	max-height: 0 !important;
	height: 0 !important;
	--moz-transform: scaleY(0) !important;
	transform: scaleY(0) !important;
}

/* #titlebar:hover~#nav-bar, */
/* #nav-bar:hover, */
#nav-bar:focus-within {
	--moz-transform: scale(1) !important;
	transform: scale(1) !important;
	max-height: var(--urlbar-height) !important;
	height: var(--urlbar-height) !important;
	min-height: var(--urlbar-height) !important;
}

/* show on toolbox focus */
#navigator-toolbox:focus-within > .browser-toolbar {
	transform: translateY(0);
	opacity: 1;
}
/* /1* show on toolbox hover *1/ */
/* #titlebar:hover ~ .browser-toolbar, */
/* #nav-bar:hover, */
/* #nav-bar:hover + #PersonalToolbar { */
/* 	transform: translateY(0); */
/* 	opacity: 1; */
/* } */

/* ------------- END AUTOHIDE URLBAR -------------- */

/* ------ DISABLE RIGHT CLICK MENU AUTOCLICK ------ */

#context-navigation, #context-openlinkintab, #context-viewimage, #context-copy {
    margin-top: 20pt;
}

/* ---- END DISABLE RIGHT CLICK MENU AUTOCLICK ---- */

/* Tighten up drop-down/context/popup menu spacing (8 Sep 2021) */

menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
  padding-block: 4px !important; /* reduce to 3px, 2px, 1px or 0px as needed */
  min-height: unset !important; /* v92.0 - for padding below 4px */
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}
